.bgColorImage {
  background-color: gray;
}
body .site {
  max-width: 1200px;
  margin: 0 auto;
}
body .site .content {
  position: relative;
  top: 100px;
}
body .site .content img {
  width: 100%;
}
body .site .content .car-item a {
  display: block;
}
body .site .content .car-item a img {
  width: 100%;
}
