@import 'font-awesome-4.6.3/less/variables.less';

.bgColorImage {
	background-color: gray;
}
body {
	.site {
		max-width: 1200px;
		margin: 0 auto;

		.content {
			position: relative;
			top: 100px;

			img {
				width: 100%;
			}

			.car-item { 

				a {
					display: block;

					img {
						width: 100%;
					}
				} 
			}
		}
	}
	
}