<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Subaru Dealership</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="site">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="logo">  
          <img src="https://static.dealer.com/v8/global/images/franchise-logos/auto/s/subaru/white/183x125.png" width="90" height="60"/>
        </div>
      </div>
    </nav>
    <div class="content">
      <div id="cars-container"></div>
      <div id="car-container"></div>
    </div>
  </div> 
  <script id="car-details" type="text/template">
    <div class="row">
      <div class="img-container col-sm-8">
        <img src="<%= img %>" alt="<%= name %>" class="image" />
      </div>
      <aside class="sidebar col-sm-4" id="payment">
        <div id="plan">
          <div class="row">
            <div class="col-sm-6">MSRP</div>
            <div class="col-sm-6"><%= price %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Est. Lease</div>
            <div class="col-sm-6">$<%= lease %>/mo**</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Est. Finance</div>
            <div class="col-sm-6">$<%= finance %>/mo*</div>
          </div>
          <div class="row ">
            <div class="col-sm-12">
              <div id="modal-ePrice" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get ePrice</h4>
                    </div>
                    <div class="modal-body">
                      <p>Enter your information and you will receive a special price quote for this <%= name %></p>
                      <form>
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label>Last Name</label>
                            <input type="text" class="form-control" id="lastName" required>
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-ePrice">Get ePrice</button>
            </div>
          </div>
        </div>  
        <div id="deal">
          <i class="fa fa-clock-o" aria-hidden="true"></i>

        </div>
      </aside>
    </div>
    
  </script>

    <script id="car-template" type="text/template">
      <div id="modal-<%= vin %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= name %></h4>
            </div>
            <div class="modal-body">
              <img src="<%= img %>" alt="<%= name %>" class="image" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
          <h3><%= name %></h3>
          <a href="#<%= link %>/<%= id %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6"><h5>Transmission:</h5></div>
            <div class="col-sm-6"><%= transmission %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Exterior Color:</div>
            <div class="col-sm-6"><%= ext_color %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Interior Color:</div>
            <div class="col-sm-6"><%= int_color %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Stock #:</div>
            <div class="col-sm-6"><%= stock_num %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">VIN:</div>
            <div class="col-sm-6"><%= vin %></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">MSRP:</div>
            <div class="col-sm-6">$<%= price %></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Price:</div>
            <div class="col-sm-6">$<%= price %></div>
          </div>
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
        </div>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-<%= vin %>">Quick View</button>
    </script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/backbone.marionette.js"></script>
  <script src="assets/bundle.js"></script>

</body>
</html>